@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-alfarn: "alfarn", sans-serif;
  --font-ubuntu: "ubuntu", sans-serif;
  --font-barlow: "barlow", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  /* screen sizes */
  --breakpoint-3xl: 1920px;
}

/* .bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("/images/backg_large_longer.jpg");
  background-size: 100vw auto;
  opacity: 10%;
  background-repeat: no-repeat;
  background-position: top center;
  border: 2px solid red;
}

.start-trig {
  border: 2px solid blue;
}

.triggerEnd {
  border: 2px solid green;
} */
/* testing comment */

body {
  background-color: #ffffff;
  margin: 0;
}

h1 {
  font-family: "alfarn", sans-serif;
  text-transform: uppercase;
}

h2,
a {
  font-family: "ubuntu", sans-serif;
}

h3,
p {
  font-family: "barlow", sans-serif;
}

.wrap-all {
  position: relative;

  /* opacity: 50%; */
  background-size: auto 100vh; /* 100vw auto; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.2s linear;
  width: 100%;
  height: 100%;
  z-index: -1;

  /* opacity: 50%; */
  background-size: auto 100vh; /* 100vw auto; */
  @media (width <= 768px) {
    background-size: auto;
  }
  background-repeat: no-repeat;

  background-position: top center;
  /* @media (width <= 768px) {
    background-size: 1800px auto;
  } */
  &.fixed {
    opacity: 1;
  }
}

/*header {
  background-image: url(/images/1.jpg);
  height: 100vh;
  background-size: auto 100vh;

  /~ opacity: 50%; ~/
}*/

/* #support {
  background-image: url();
} */
.panel {
  /*  background-size: auto 100vh; /~ 100vw auto; ~/
  background-repeat: no-repeat;
  background-position: top center;*/
  @media (width <= 768px) {
    background-size: auto 100vh;
  }
  @media (width > 768px > 1400px) {
    background-size: auto;
  }
  &.bg-fixed {
    background-attachment: fixed;
  }

  /*  &#intro {
    background-image: url(/images/2.jpg);
  }
  &#hours {
    background-image: url(/images/3.jpg);
  }
  &#program {
    background-image: url(/images/4.jpg);
  }
  &#madeby {
    background-image: url(/images/5.jpg);
    /~ background-attachment: fixed; ~/
  }*/
}

section {
  width: 100%;
  height: 100vh;
  /* border-bottom: 1px solid black; */
}

.wrap {
  position: relative;
  top: 50%;
  left: 50%;
  width: fit-content;
  overflow: hidden;
}
.wrap h1 {
  position: relative;
  font-family: sans-serif;
  font-size: 4vw;
  color: black;
  margin: 0;
}
.wrap h2 {
  position: relative;
  font-family: sans-serif;
  font-size: 4vw;
  color: green;
  margin: 0;
}

#hours,
#openhours,
#program,
#collaborators,
#prints {
  scroll-margin-top: 150px;
  @media (max-width: 768px) {
    scroll-margin-top: 100px;
  }
}
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: #1c324b;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
