@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1c324b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* .bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("/images/backg_large_longer.jpg");
  background-size: 100vw auto;
  opacity: 10%;
  background-repeat: no-repeat;
  background-position: top center;
  border: 2px solid red;
}

.start-trig {
  border: 2px solid blue;
}

.triggerEnd {
  border: 2px solid green;
} */

body {
  /* background-color: white; */
  margin: 0;
  background-image: url(/images/5.jpg);
  /* opacity: 50%; */
  background-size: auto 100vh; /* 100vw auto; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  @media (width <= 768px) {
    background-size: auto 100vh;
  }
  @media (width > 768px > 1400px) {
    background-size: auto;
  }
  /* @media (width > 1400px) {
    background-size: 100vw auto;
  } */
}

.wrap-all {
  position: relative;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  /* @media (width <= 768px) {
    background-size: 1800px auto;
  } */
}

header {
  background-image: url(/images/1.jpg);
  height: 100vh;
  /* opacity: 50%; */
}

#intro {
  background-image: url(/images/2.jpg);
}
#hours {
  background-image: url(/images/3.jpg);
}
#program {
  background-image: url(/images/4.jpg);
}
#madeby {
  background-image: url(/images/5.jpg);
  /* background-attachment: fixed; */
}
/* #support {
  background-image: url();
} */
.panel {
  background-size: auto 100vh; /* 100vw auto; */
  background-repeat: no-repeat;
  background-position: top center;
  @media (width <= 768px) {
    background-size: auto 100vh;
  }
  @media (width > 768px > 1400px) {
    background-size: auto;
  }
  &.bg-fixed {
    background-attachment: fixed;
  }
  /* @media (width > 1400px) {
    background-size: 100vw auto;
  } */
}

section {
  width: 100%;
  height: 100vh;
  /* border-bottom: 1px solid black; */
}

.wrap {
  position: relative;
  top: 50%;
  left: 50%;
  width: fit-content;
  overflow: hidden;
}
.wrap h1 {
  position: relative;
  font-family: sans-serif;
  font-size: 4vw;
  color: black;
  margin: 0;
}
.wrap h2 {
  position: relative;
  font-family: sans-serif;
  font-size: 4vw;
  color: green;
  margin: 0;
}
